body {
    margin: 0px;
    padding: 0px;
}

/* ----------------------------------- 
   layout of Home page 
   ----------------------------------- */

.column {
    float: left;
  }
  
.left {
    width: 38%;
  }
  
.right {
    width: 62%;
  }

.authors {
  /* author names under paper titles */
  font-size: 0.9em;
  font-family:"Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.1em;
  color: #999;
}

.paper {
  /* block containing a paper's title and summary (shows on hover) */
  margin-bottom: -30px;
  padding-bottom: 10px;
}

.hover-to-expand-msg {
  font-size: 0.9em;
  font-family:"Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.25em;
  color: #999;
  margin-top: -20px;
}

.summary {
  /* shown when cursor hovers on the paper title. Contains description and auxiliary links */
  font-size: 0.9em;
  font-family:"Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.25em;
  color: #000000;
  margin-top: 10px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.row:after {
    content: "";
    display: table;
    clear: both;
    padding-bottom: 5%;
  }

.square:after {
    content: "";
    display: block;
    padding-bottom: 3%;
  }




/* ----------------------------------- 
   Headings, fonts and buttons 
   ----------------------------------- */

#navbar {
  position: fixed;
  overflow: hidden;
  background-color: black;
  padding-left: 15%;
  top: 0;
  width: 100%;
}

#navbar a {
  /* float: left; */
  display: block;
  color: #f2f2f2;
  text-align: center;
  /* padding: 14px 16px 14px 0px; */
  text-decoration: none;
  font-size: 1.1em;
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page-content {
  padding: 16px;
  margin: 60px auto;
  width: 70%;
}

footer {
  padding-left: 15%;
}

a {
    text-decoration: none;
    /* color: #999; */
    color:#c12929;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 2.2em;
    /* font-family:'Helvetica', 'Arial', 'Sans-Serif'; */
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000000;
}

h2, h3 {
    font-size: 1.5em;
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#000000;
}

h5 {
    font-size: 1.1em;
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000000;
    font-weight:normal;
    margin-bottom:5px;
    /* word-wrap: break-word; */
}

p {
    font-size: 1em;
    font-family:"Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.3em;
    color: #000000;
}

span {
    font-size: 0.8em;
    font-family:"Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.25em;
    color: #000000;
    /* padding-left: 200px; */
}

footer {
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

.red-button {
    background-color:#C1292E;
    border: none;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family:"Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 0cm;
    margin-top: 0.3cm;
  }

.blue-button {
    background-color:#715AFF;
    border: none; 
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family:"Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  }

/* .gray-button {
    background-color:#2B303A;
    border: none;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family:"Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 0cm;
    margin-top: 0.3cm;
  } */

.green-button {
  background-color:#8CBA80;
  border: none;
  color: white;
  padding: 6px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family:"Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* span {
    outline: 2px solid black;
} */

/* .container {
    display: flex;
  } */