body {
    margin: 0px;
    padding: 0px;
}

/* ----------------------------------- 
   layout of Home page 
   ----------------------------------- */

.column {
    float: left;
  }
  
.left {
    width: 38%;
  }
  
.right {
    width: 62%;
  }

.authors {
  /* author names under paper titles */
  font-size: 0.9em;
  font-family:"Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.25em;
  color: #999;
}

.paper {
  padding: 10px;
}

.paper.active {
  outline: 1px solid #999999;
  outline-offset: -1px; /* compensate for the width of the outline */
  border-radius: 6px;
  background-color: #f2f2f2;
}

.paper h5 {
  margin-top: 0px;
}

.blurb h3 {
  margin-bottom: 4px;
}

.hover-to-expand-msg {
  font-size: 0.9em;
  font-family:"Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.25em;
  color: #999;
  margin-bottom: 30px;
}

.summary {
  /* shown when cursor hovers on the paper title. Contains description and auxiliary links */
  font-size: 0.9em;
  font-family:"Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  line-height: 1.35em;
  color: #000000;
  max-height: 0px;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.summary p {
  margin: 0px;
  padding: 10px 0px;
}

.row:after {
  content: "";
  display: table;
  clear: both;
  padding-bottom: 5%;
}

.square:after {
  content: "";
  display: block;
  padding-bottom: 3%;
}




/* ----------------------------------- 
   Headings, fonts and buttons 
   ----------------------------------- */

nav {
  position: fixed;
  background-color: #1c1c1c;
  left:0;
  right:0;
  top: 0;
}

nav ul {
  list-style-type: none;
  padding: 14px 15%;
  margin: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul li {
  display: flex;
  align-items: center;
  margin-left: 25px;
}

nav ul li:first-child {
  color: white;
  margin-left: 0px;
  margin-right: auto;
  font-size: 1em;
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

nav ul li a {
  text-decoration: none;
  color: white;
  font-size: 1em;
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.page-content {
  margin: 110px auto;
  width: 70%;
}

a {
  text-decoration: none;
  color:#c12929;
}

a:hover {
  text-decoration: underline;
}

h1 {
  font-size: 2.2em;
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #000000;
}

h2, h3 {
    font-size: 1.5em;
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color:#000000;
}

h5 {
    font-size: 1.1em;
    font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #000000;
    font-weight:normal;
    margin-bottom:5px;
}

p {
    font-size: 1em;
    font-family:"Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    line-height: 1.3em;
    color: #000000;
}

.research-nav {
  display: flex;
  justify-content: space-between;
}

.research-nav a {
  font-size: 1.2em;
  color: black;
  /* padding: 3px 6px; */
}

.research-nav .vl {
  border-left: 1px solid black;
  border-right: 1px solid black;
  height: 23px;
}

footer {
  border-top: 1px solid #d5d5d5;
  font-size: .8em;
}

footer ul {
  padding-left: 15%
}

footer ul li {
  margin-right: 15px;
  display: inline;
}

ul.posts { 
    margin: 20px auto 40px; 
    font-size: 1.5em;
}

ul.posts li {
    list-style: none;
}

/* .red-button, .green-button, .blue-button {
  display: inline-block;
  padding: 5px 8px;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  color: white;
  border: none; 
  border-radius: 6px;
  transition: background-color 0.3s ease;
}

.red-button {
  background-color: #C1292E;
}

.red-button:hover {
  background-color: #E53E41;
}

.green-button {
  background-color: #8CBA80;
}

.green-button:hover {
  background-color: #9FC895;
}

.blue-button {
  background-color: #715AFF;
}

.blue-button:hover {
  background-color: #7d6aff;
} */

.red-link, .green-link, .blue-link {
  border-radius: 4px; 
  padding: 3px 6px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  font-family:"Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.red-link {
  outline: 1px solid #C1292E;
  outline-offset: -1px;
  color: #C1292E;
}

.red-link:hover {
  text-decoration: none;
  background-color: #C1292E;
  color: white;
}

.green-link {
  outline: 1px solid #8CBA80;
  outline-offset: -1px;
  color: #8CBA80;
}

.green-link:hover {
  text-decoration: none;
  background-color: #8CBA80;
  color: white;
}

.blue-link {
  outline: 1px solid #715AFF;
  outline-offset: -1px;
  color: #715AFF;
}

.blue-link:hover {
  text-decoration: none;
  background-color: #715AFF;
  color: white;
}