<!DOCTYPE html>
<html>
<head>
	<title>{{ page.title }}</title>
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="./css/main.css">
</head>
<body>
	<div id="navbar">
		<a href="/">Stephen Hansen</a>
		<a href="/research.html">Research</a>
		<a href="./pdf_files/cv.pdf">CV</a>
	</div>

	<div class="page-content">
		{{ content }}
	</div><!-- /.container -->
	
	<footer>
		<ul>
			<li style="display:inline"><a href="https://github.com/sekhansen">Github</a></li>
			<li style="display:inline"><a href="https://scholar.google.co.uk/citations?user=mXiyl7YAAAAJ&hl=en">Google Scholar</a></li>
			<li style="display:inline"><a href="https://twitter.com/StephenEKHansen">Twitter</a></li>
		</ul>
	</footer>
</body>
</html>