<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/research.html">Research</a></li>
        		<!-- <li><a href="/teaching.html">Teaching</a></li> -->
        		<li><a href="./pdf_files/cv.pdf">CV</a></li>
    		</ul>
		</nav>
		<div class="container">
      
    {{ content }}
      
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li style="display:inline"><a href="mailto:stephen.hansen@imperial.ac.uk">email</a></li>
				<li style="display:inline"><a href="https://github.com/sekhansen">Github</a></li>
				<li style="display:inline"><a href="https://scholar.google.co.uk/citations?user=mXiyl7YAAAAJ&hl=en">Google Scholar</a></li>
			</ul>
		</footer>
	</body>
</html>